openapi: 3.2.0
info:
  description: 'Aalto API to query project and cost centers.


    parameter=value is interpreted as ''WHERE parameter = ''value''

    parameter=* value* is interpreted as ''WHERE parameter LIKE ''%value%''

    .'
  version: 1.0.10
  title: Aalto project and costcenter Projects API
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.aalto.fi:443
  description: Prod
- url: https://aalto-cost-centers-test.api.aalto.fi:443
  description: Test
tags:
- name: Projects
paths:
  /api/dw_projects/projects:
    get:
      tags:
      - Projects
      security:
      - ApiKeyAuth: []
      parameters:
      - name: active
        in: query
        required: false
        description: true - if just active projects are needed
        schema:
          type: string
          default: ''
      - name: CostcenterCode
        in: query
        required: false
        description: Cost center code e.g U90901. Wildcard * can be used in name. E.g. U909*
        schema:
          type: string
          default: ''
      - name: Projectname
        in: query
        required: false
        description: Project name e.g Digitalization Superheroes. Wildcard * can be used in name. E.g *Superheroes
        schema:
          type: string
          default: ''
      - name: ProjectCode
        in: query
        required: false
        description: Project code e.g 931104. Wildcard * can be used in name. E.g 93*
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
        '500':
          description: Error
      summary: Get api dw projects projects
      x-summary-source: derived
      operationId: getApiDwProjectsProjects
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: X-ApiKey
      in: header
