{
  "openapi": "3.0.0",
  "info": {
    "description": "Aalto API to query project and cost centers. \n\n parameter=value is  interpreted as 'WHERE parameter = 'value' \n parameter=* value* is interpreted as 'WHERE parameter LIKE '%value%' \n.",
    "version": "1.0.10",
    "title": "Aalto project and costcenter API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths": {
    "/api/dw_projects/costcenters": {
      "get": {
        "tags": [
          "Costcenters"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "true - if just active projects are needed",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "CostCenterCode",
            "in": "query",
            "required": false,
            "description": "Cost center code like U90901",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "CostCenterName",
            "in": "query",
            "required": false,
            "description": "Cost center name ",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "DepartmentCode",
            "in": "query",
            "required": false,
            "description": "Department code",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/api/dw_projects/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "true - if just active projects are needed",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "CostcenterCode",
            "in": "query",
            "required": false,
            "description": "Cost center code e.g U90901. Wildcard * can be used in name. E.g. U909*",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Projectname",
            "in": "query",
            "required": false,
            "description": "Project name e.g Digitalization Superheroes. Wildcard * can be used in name. E.g *Superheroes",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ProjectCode",
            "in": "query",
            "required": false,
            "description": "Project code e.g 931104. Wildcard * can be used in name. E.g 93*",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Error"
          }
        }
      }
    },
    "/api/dw_projects/departments": {
      "get": {
        "tags": [
          "Organisational Data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "active",
            "description": "true - if just active projects are needed",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "Code",
            "description": "Code like U909",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "Name",
            "description": "Department name ",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "formatCSV",
            "description": "true to return in CSV format ",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/dw_projects/schools": {
      "get": {
        "tags": [
          "Organisational Data"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Error"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://api.aalto.fi:443",
      "description": "Prod"
    },
    {
      "url": "https://aalto-cost-centers-test.api.aalto.fi:443",
      "description": "Test"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "X-ApiKey",
        "in": "header"
      }
    }
  }
}
